@model User

@{

}

<div class="container text-white-50">
    <div class="mt-2">
        <h4 class="">
            @Model.Id
        </h4>
        <p class="">
            login: @Model.Login
            <br/>username: @Model.Username
            <br/>role: @Model.Role
            <br/>password: @Model.Password
        </p>
    </div>
</div>
